
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: "Merriweather", sans-serif;
}
/* this is for the arrows*/

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

   .rightarrow{
   width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  margin-right: 20px;
  margin-left: 20px;
}
  
.leftarrow {
   width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid black; 
  margin-right: 20px;
  margin-left: 20px;
 
}
/* this is for the image and text*/

  .inside {
    border: solid black 3px;
    width: 1200px;
    margin-bottom: 30px;
    margin-top: 30px;
    object-fit: contain;

  }

  .text {
font-size: 20px;
text-align: center;
padding: 20px;
  }
  
  .container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.image {
  object-fit:contain;
   max-width: 100%;
    height: auto;
}

/* scrolling credits*/

.scroll {
  text-align: center;
  font-size: 60px;
  color: white;
}
.otherscroll {
  text-align: center;
font-size: 30px;
padding: 50px;
color: white;
}

.enter {
  align-content: right;
  color: white;
  font-size: 20px;
  text-decoration: none;

}

.redrum {

  color: red;
  font-style: bold;
  text-align: center;
  font-size: 250px;
  

}
.blinking{
    animation:blinkingText 3s infinite;
    align-content: center;
}
@keyframes blinkingText{
    0%{     color: #000000;    }
    52%{    color: #000000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #red;    }
}

.form {
 font-size: 20pt;
 height: 40px; 
 width:600px;
 margin: auto;
display: block;
}

.button {
  border: none;
  background-color: red;
  height: 100vh;
  width: 100vw;
}

.thscroll {
  height: 100vh;
  width: 100vw;
}
